<div id="main" class="container-fluid">
    <div class="row">

        <div class="col-md-4 newRecipeInput">
            <label class="newRecipeLabel" for="inputName">Podaj nazwę przepisu:</label>
            <input type="text" class="form form-control" placeholder="Podaj nazwę przepisu" [(ngModel)]="newRecipeName" IngCorrAmount>
        </div>

        <div class="col-md-4 newRecipeInput">
            <label class="newRecipeLabel" for="ingredientName">Podaj składniki:</label>
            <input type="text" class="form form-control" placeholder="Podaj składniki" [(ngModel)]="newIngredientName" IngCorrAmount>

            <ul class="newRecipeLabel" *ngFor="let ing of ingredients; let i = index">
                <li>
                    {{ing.name}} ({{ing.amount}})
                    <button class="btn-xs btn btn-danger" (click)="deleteIngredient(i)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="col-md-2">
            <label for="ingredientAmount" class="newRecipeLabel ">Ilość:</label>
            <input class="form form-control text-center" type="number" (change)="isCorrect()" [(ngModel)]="newIngredientAmount" min="1"
                max="99" IngCorrAmount>
            <div class="row">

                <div class="col-md-6">
                    <button class="btn btn-primary btn-sm newRecipeButton" (click)="addIngredient()">Dodaj
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-danger btn-sm newRecipeButton" (click)="clearIngredientsList()">Wyczyść</button>
                </div>

            </div>
            <div class="col-md-12">
                <label for="errorMsg" class="errorMsg" *ngIf="errorStatus">{{errorMsg}}</label>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <label for="ingredientImagePath" class="newRecipeLabel">Podaj URL zdjęcia przepisu:</label>
        <input type="text" class="form form-control" placeholder="Wpisz adres URL" [(ngModel)]="newRecipeImgUrl" IngCorrAmount>
    </div>

    <div class="rowNewRecipeInput">
        <label class="newRecipeLabel" for="inputContent">Podaj przepis:</label>
        <textarea class="form form-control" placeholder="Podaj dokładny przepis na potrawę" [(ngModel)]="newRecipeDesc" IngCorrAmount></textarea>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-success newRecipeButton form-control" (click)="createNewRecipe()">Dodaj przepis</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-danger newRecipeButton form-control" (click)="clearNewRecipe()">Wyczyść</button>
        </div>
    </div>


    <div class="row" *ngIf="newRecipeName !='' || newRecipeDesc !='' || ingredients.length != 0">
        <hr>
        <p>Podgląd:</p>
        <div id="ingredients" class="col-md-2">
            <h2>Składniki:</h2>
            <ul *ngFor="let ing of ingredients">
                <li>{{ ing.name }} ({{ing.amount}})</li>
            </ul>
        </div>

        <div id="recipe-details" class="col-md-10">
            <div id="recipe-img" class="col-md-4" *ngIf="newRecipeImgUrl != ''">
                <img class="img-responsive img-thumbnail" src=' {{newRecipeImgUrl}} '>
            </div>

            <div id="recipe-instructions" class="col-md-8 text-left">
                <h2> {{ newRecipeName }} </h2>
                {{ newRecipeDesc }}
            </div>

        </div>

    </div>

</div>

<!-- <p appHighlight>Wypisuje do konsoli info--- Directive</p> -->