textarea {
    resize: none;
    height:200px;
}
.newRecipeInput { 
    padding-right: 20px;
}
.newRecipeButton {
    margin-top: 5px;
}
.errorMsg {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 175, 188);
    border: 1px solid red;
}
.newRecipeLabel {
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;

}
.container {
    height: 600px;
}
p {
    color: white;
    font-size: 32px;
    margin-left: 20px;
}
#main {
    background-color: rgb(43, 43, 43);
    color: white;
}