#add-button {
    margin-left: 10px;
    margin-top: 5px;
}
.errorMessage {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid rgb(255, 125, 125) ;
    color: rgb(255, 125, 125)
}
#main {
    background-color: rgb(43, 43, 43);
    color: white;
    min-height: 800px;
    margin-bottom: 15px;
}
p {
    color: white;
    font-size: 32px;
    margin-left: 20px;
}
#shoppingList {
    margin-left: 10px;
    margin-right: 10px;
}
.shoppingListInput {
    margin-top: 5px;
    color:black;
}
.shoppingListButtons {
    margin: 5px;
}
#errorMsg {
    padding-top: 15px;
    margin-top: 20px;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .radioInput {
        margin-right: 5px;
    }
}