<div id="main" class="container-fluid">
    <div class="row">
        <div id="listInput" class="col-md-5">
            <h3> Przygotuj listę zakupów:</h3>
            <hr>
            <input class="shoppingListInput text-center form-control" type="text" [(ngModel)]="newShoppingListItemName" placeholder="Wpisz co dodać" IngCorrAmount>
            <div class="col-md-6">
                <input class="shoppingListInput form-control text-center" [(ngModel)]="newShoppingListItemAmount" (change)="isCorrect()"
                type="number" min="1" max="99" IngCorrAmount>
            </div>
            <div class="col-md-6">
                <input class="shoppingListInput text-center form-control" type="text" [(ngModel)]="newShoppingListItemUnit" placeholder="Jednostka miary" IngCorrAmount>
            </div>
            <button id="add-button" class="btn btn-success btn-sm pull-right form-control" (click)="addToShoppingList()">Dodaj do listy
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            <div id="errorMsg">
                <h5 class="errorMessage" *ngIf="!errorMessage == ''">{{ errorMessage }} {{ newShoppingListItem }}</h5>
            </div>
        </div>

        <div id="shoppingList" class="col-md-3 container-fluid" *ngIf="shoppingList.length !== 0; else noShoppingList">
            <p>Lista zakupów:</p>
            <ul *ngFor="let item of shoppingList; let i = index">
                <li> {{item.name}} ({{item.amount}})
                    <button class="btn btn-xs btn-danger pull-right" (click)="removeFromList(i)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>
            </ul>
            <button class="btn btn-danger shoppingListButtons pull-right" (click)="clearShoppingList()">Wyczyść</button>
            <button class="btn btn-primary shoppingListButtons pull-right" (click)="buyIngredients()">Kupuj</button>

        </div>

        <ng-template #noShoppingList>
            <h2 style="text-decoration: underline">Lista zakupów jest pusta</h2>
        </ng-template>
    </div>
</div>