<div id="main-container" class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="logo" src="./assets/images/logo.png">
                <a id="title" href="#" class="navbar-brand">Recipe book</a>
            </div>
            <div class="container-fluid">
                <ul id="navbar-elements" class="nav navbar-nav">
                    <li>
                        <a href="#">Recipes</a>
                    </li>
                    <li>
                        <a href="#">Shopping list</a>
                    </li>
                    <li>
                        <a href="#">New recipe</a>
                    </li>
                    <li>
                        <input id="search-input" class="form-control pull-right text-right" type="search" placeholder="Czego szukasz?">
                    </li>
                    <li>
                        <button id="search-button" class="btn btn-primary pull-right" type="submit">Szukaj</button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <app-list></app-list>
</div>