<div id="main-container" class="container">
    <nav id="navbar" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header col-md-3">
                <img class="logo" src="./assets/images/logo.png">
                <a id="title" routerLink="/" class="navbar-brand">Qchnia</a>
            </div>
            <div class="container-fluid col-md-9">
                <ul id="navbar-elements" class="nav navbar-nav">
                    <li id="navbar-button">
                        <a routerLink="/" (click)="selectedFeature='Recipes'">Przepisy</a>
                    </li>
                    <li id="navbar-button">
                        <a routerLink="/shopping-list" (click)="selectedFeature='Shopping List'">Lista zakupów</a>
                    </li>
                    <li id="navbar-button">
                        <a routerLink="new-recipe" (click)="selectedFeature='New Recipe'">Nowy przepis</a>
                    </li>
                    <li id="navbar-button">
                            <a routerLink="my-fridge" (click)="selectedFeature='My fridge'">Moja lodówka</a>
                        </li>
                    <li>
                        <input id="search-input" class="form-control text-center" type="search" placeholder="Czego szukasz?">
                    </li>
                    <li>
                        <button id="search-button" class="btn btn-primary form-control" type="submit">Szukaj
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-list *ngIf="selectedFeature == 'Recipes'" [featureTitle]="selectedFeature"></app-list>
    <app-new-recipe *ngIf="selectedFeature == 'New Recipe'" [featureTitle]="selectedFeature" (newRecipeEvent)="receiveEvent($event)"></app-new-recipe>
    <app-shopping-list *ngIf="selectedFeature == 'Shopping List'" [featureTitle]="selectedFeature"></app-shopping-list> -->
</div>