input {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
}
#search-button {
    background-color: rgb(73, 145, 252);
    margin-top: 5px;
    color: white;
}

#navbar-elements {
    margin-top:10px;
}
.navbar-header {
    margin-top: 10px;
    margin-bottom: 20px;
}
#title {
    font-size: 40px;
    font-family: "Monospace";
    font-style: oblique;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: rgb(146, 0, 0);
}

#recipe-instructions { 
    padding: 15px;
    font-family: "Monospace";
    font-style: oblique;
    color: white;
}
.logo {
    height: auto;
    width: 50px;
}
#recipe-img {
    margin-top:1px;
}
#main-container {
    background-color: black;
}