<div id="main" class="container-fluid">
  <br>
  <ul *ngFor="let recipe of recipePagination; let i = index">
    <div class="row">
      <div id="ingredients" class="col-md-2">
        <h2>Składniki:</h2>
        <ul *ngFor="let ing of recipe.ingredients">
          <li>{{ ing.name }} ({{ing.amount}} {{ing.unit}})</li>
        </ul>
      </div>

      <div id="recipe-details" class="col-md-9">
        <div id="recipe-img" class="col-md-4">
          <img class="img-responsive img-thumbnail" style="color: black" alt="Nie wczytano obrazu." src=' {{recipe.imageURL}} '>
        </div>
        <div id="recipe-instructions" class="col-md-8 text-left">
          <h2> {{ recipe.name }} </h2>
          {{ recipe.description }}
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger pull-right" (click)="deleteRecipe(i)">Usuń
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
    <hr>
  </ul>

  <button id="prevButton" (click)="prevPage()" routerLink="/" class="btn btn-primary pull-left" [disabled]="page === 1"><span class="glyphicon glyphicon-backward"></span>  Prev</button>
  <button id="nextButton" (click)="nextPage()" routerLink="/" class="btn btn-primary pull-right" [disabled]="page > numberOfPages">Next  <span class="glyphicon glyphicon-forward"></span></button>

</div>