#main {
    background-color: rgb(43, 43, 43);
    color: white;
    min-height: 800px;
    margin-bottom: 15px;
}
#recipe-instructions { 
    padding: 15px;
    font-family: "Monospace";
    font-style: oblique;
    color: white;
    word-wrap: break-word;
}

p {
    color: white;
    font-size: 32px;
    margin-left: 20px;
}
#nextButton {
    margin-right: 30px;
}
#prevButton {
    margin-left: 30px;
} 

@media only screen and (max-width: 320px) {
    #nextButton {
        margin-right: 50px;
    }
    #prevButton {
        margin-left: 50px;
    }
}
@media only screen and (min-width: 375px) {
    #nextButton {
        margin-right: 60px;
    }
    #prevButton {
        margin-left: 60px;
    }
}
@media only screen and (min-width: 414px) {
    #nextButton {
        margin-right: 70px;
    }
    #prevButton {
        margin-left: 70px;
    }
}
@media only screen and (min-width: 768px) {
    #nextButton {
        margin-right: 200px;
    }
    #prevButton {
        margin-left: 200px;
    }
}
