#main {
    background-color: rgb(43, 43, 43);
    color: white;
}
#recipe-instructions { 
    padding: 15px;
    font-family: "Monospace";
    font-style: oblique;
    color: white;
    word-wrap: break-word;
}
#recipe-img {
    margin-top:px;
}
p {
    color: white;
    font-size: 32px;
    margin-left: 20px;
}